I love you.
Do you love me?
I hate you.
Do you hate me?
This is my first sed script program.
I learn to write complex script program to solve real problems.
God, come and help me with this.
I would like to become stronger.
Year:
2017
Month:
Jan
Date:
20